{% extends 'base.html' %}

{% load static %}

{% block page_title %}moc portfolio{% endblock %}

{% block content %}
{# top content #}
<div class="ui segment">
  <div class="ui two column very relaxed stackable grid">
    {# left content #}
    <div class="middle aligned column">
      <h1 class="ui center aligned header main-text" style="color: #828282;">
        Appreciation<br/>and<br/>Affection
      </h1>
      <h1 class="ui center aligned header main-text" style="color: #828282;">
        ー　感謝と愛情　ー
      </h1>
    </div>
    {# right content #}
    <div class="column">
      <img class="ui medium image" src="{% static 'img/coffee.jpg' %}">
    </div>
  </div>
</div>
<div class="ui three column stackable grid">
  {# Card for About me #}
  <div class="column">
    <div id="about" class="ui fluid card">
      <div class="image">
        <div class="ui image"><img src="{% static 'img/my_profile.jpg'%}"></div>
      </div>
      <div class="content">
        <div class="header">About me</div>
      </div>
    </div>
  </div>
  {# Card for Product #}
  <div class="column">
    <div id="product" class="ui fluid card">
      <div class="image">
        <div class="ui image"><img src="{% static 'img/product.jpg'%}"></div>
      </div>
      <div class="content">
        <div class="header">Products</div>
      </div>
    </div>
  </div>
  {# Card for Contact #}
  <div class="column">
    <div id="contact" class="ui fluid card">
      <div class="image">
        <div class="ui image"><img src="{% static 'img/contact.jpg'%}"></div>
      </div>
      <div class="content">
        <div class="header" >Contact</div>
      </div>
    </div>
  </div>
  {# Modal for About #}
  <div class="ui modal about">
    <div class="header">
      About me
    </div>
    <div class="scrolling content">
      このページをご覧いただきありがとうございます。
      ここでは、私がどんな人で、現状何ができて、どうなりたいかを少しでも知っていただけると幸いです。




    </div>
  </div>
  {# Modal for Product #}
  <div class="ui modal product">
  </div>
  {# Modal for Contact #}
  <div class="ui modal contact">
    <div class="header">Contact</div>
    <div class="content">
    <p><i class="twitter icon"></i>　<a href="https://twitter.com/sorigeeeen">@sorigeeeen</a></p>
    <p><i class ="github icon"></i>　<a href="https://github.com/ytskmt14">ytskmt14</a></p>
      
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
  $('#about').click(function() {
    $('.ui.modal.about')
    .modal('show');
  })

  $('#product').click(function() {
    $('.ui.modal.product')
    .modal('show');
  })

  $('#contact').click(function() {
    $('.ui.modal.contact')
    .modal('show');
  })
</script>
{% endblock %}
