@import url("semantic.min.css");

/* header */
a {
  color: black;
}

/* content */
.main-text {
  font-family: "Hannari";
  /* font-family: 'Lato', sans-serif; */
}

/* footer */
footer {
  color: lightgrey;
  float: right;
  margin-top: -15px;
}