<!DOCTYPE html>
{% load static %}
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %} {% endblock %}</title>

    {# css #}
    <link rel="stylesheet" href="{% static 'css/style.css'%}"
    {% block extra_css %}{% endblock %}
  </head>
  <body>
    <div class="ui container">
      {# header menu #}
      <div class="ui menu">
        <div class="header item">
          <a href="{% url "portfolio:home"%}">moc portfolio</a>
        </div>
        <div class="right menu">
          <a href="#" class="item">About me</a>
          <a href="#" class="item">Product</a>
          <a href="#" class="item">Contact</a>
        </div>
      </div>
      {# content #}
      {% block content %}{% endblock  %}
      {# footer #}
      <div class="ui divider footer"></div>
      <footer>Copyright © moc All Rights Reserved.</footer>
    </div>
    <script src="{% static 'js/semantic.min.js' %}"></script>
    {% block extra_js %}{% endblock  %}
  </body>
</html>